<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/sytles.css">
    <title>Sobre</title>
    

</head>
<body>
    <img src="../static/css/img/renan.jpg">
    <div class="sobre">
        
        <p>"Profissional com 13 anos atuando na área de suporte técnico de TI e eletrônica,</p>
            <p>com experiência em administração de servidores baseados em Windows,</p> 
            <p>implementação de infraestrutura de rede de computadores"</p>
            <p>Atualmente estou no segundo modulo do curso de desenvolvimento na BlueEdTech</p>
    </div>

   <section class="projetos">
        <h3>Projeto Python</h3>
        <ul>
        <p>Jogo do Detetive</p>
        <p>Jogo do JokenPo</p>
        <p>Projeto Fixão Interativa</p>
        </ul>
   </section> 
    <section class="front">
        <h3>Projeto Html/CSS/JS/Flask </h3>
        <p>Projeto de Mudança de Humor</p>
        <img src="../static/css/img/Print Projeto 1.jpg" alt="projeto1" width="50">
        <p></p>
    </section>
        
    <nav>
        <ul>
           <li> <a href="../templates/index.html">Voltar</a> </li>
                              
        </ul>
    </nav>
     
    
</body>
</html>